{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100%;">
    <div class="card mx-auto mt-5" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Register</h5>
            <form method="post">
                {% csrf_token %}
                <div id="username-error">

                </div>
                <div class="form-group">
                    {% render_field form.username class+="form-control mb-3" hx-post="/check_username" hx-trigger="keyup delay:1s" hx-target="#username-error" hx-swap='outerHTML'%}
                    <small class="form-text text-muted">{{ form.username.help_text }}</small>
                </div>
                <div class="form-group">
                    {% render_field form.email class="form-control mb-3" placeholder="Email" %}
                    <small class="form-text text-muted">{{ form.email.help_text }}</small>
                </div>
                <div class="form-group">
                    {% render_field form.password1 class="form-control mb-3" placeholder="Password" %}
                    <small class="form-text text-muted">{{ form.password1.help_text }}</small>
                </div>
                <div class="form-group">
                    {% render_field form.password2 class="form-control mb-3" placeholder="Confirm Password" %}
                    <small class="form-text text-muted">{{ form.password2.help_text }}</small>
                </div>
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}