{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
{% load widget_tweaks %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100%;">
    <div class="card mx-auto mt-5" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Register</h5>
            <form method="post">
                {% csrf_token %}
                <div class="form-group row mt-2 ">
                    {% for field in form %}
                    <div class="col-sm-12">
                        {% render_field field class+="form-control mb-3" placeholder=field.name|capfirst %}
                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {%endfor%}

                    </div>

                    <button class="btn btn-primary" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}